AxiomaticaRepos/src/main/resources/wsdl/xmlService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://soap.sia.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sia.com/" targetNamespace="http://soap.sia.com/">
    <wsdl:types>
        <xs:schema xmlns="http://soap.sia.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://soap.sia.com/">

            <xs:element name="processXmlRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="xml" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="processXmlResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="processXmlResponse">
        <wsdl:part element="tns:processXmlResponse" name="processXmlResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="processXmlRequest">
        <wsdl:part element="tns:processXmlRequest" name="processXmlRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="XmlPort">
        <wsdl:operation name="processXml">
            <wsdl:input message="tns:processXmlRequest" name="processXmlRequest">
            </wsdl:input>
            <wsdl:output message="tns:processXmlResponse" name="processXmlResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="XmlPortSoap11" type="tns:XmlPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processXml">
            <soap:operation soapAction=""/>
            <wsdl:input name="processXmlRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="processXmlResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="XmlPortService">
        <wsdl:port binding="tns:XmlPortSoap11" name="XmlPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>