SOAPservice/src/main/resources/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://soap.sia.com/"
           xmlns="http://soap.sia.com/"
           elementFormDefault="qualified">

    <xs:element name="processXmlRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="xml" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="processXmlResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
